---
import {
  Card,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const docs = (await getCollection("docs")).sort(
  (a: any, b: any) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
);
---

<Layout>
  <div class="mx-auto max-w-4xl px-4">
    <div class="space-y-4">
      {
        docs.map((doc: any) => (
          <a
            href={`/docs/${doc.slug}`}
            class="block transition-transform hover:scale-[1.02]"
          >
            <Card className="hover:border-foreground transition-colors cursor-pointer">
              <CardHeader>
                <CardTitle>{doc.data.title}</CardTitle>
                <CardDescription>{doc.data.description}</CardDescription>
              </CardHeader>
              <CardFooter>
                <span class="text-muted-foreground font-mono-italic text-xs">
                  {new Date(doc.data.pubDate).toLocaleDateString()}
                </span>
              </CardFooter>
            </Card>
          </a>
        ))
      }
    </div>
  </div>
</Layout>
