---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <p class="mt-10 text-center text-2xl font-bold">Documentación</p>
  <p class="mt-4 text-center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus saepe
    labore laborum amet porro mollitia quo neque magnam? Illo dolor
    reprehenderit quae doloribus pariatur esse ullam minima voluptatibus,
    perferendis nesciunt?
  </p>
</Layout>
