---
import Header from "@/components/Header.astro";
import { Button } from "@/components/ui/button";
import {
  Card,
  CardAction,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import "/src/styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>DevCobos</title>

    <!-- Initialize theme -->
    <script is:inline>
      (function () {
        const stored = localStorage.getItem("selected_theme");
        const theme =
          stored ||
          (window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light");

        if (theme === "dark") {
          document.documentElement.classList.add("dark");
        }

        localStorage.setItem("selected_theme", theme);
      })();
    </script>
  </head>

  <body class="font-mono">
    <Header />

    <main
      class="mx-auto flex max-w-full flex-col items-center gap-6 px-4 py-6 shadow-md"
    >
      <Button>Button in Astro!</Button>

      <Card className="w-full max-w-sm">
        <CardHeader>
          <CardTitle>Card Title</CardTitle>
          <CardDescription>Card Description</CardDescription>
          <CardAction>Card Action</CardAction>
        </CardHeader>
        <CardContent>
          <p>
            Test Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Quasi, repudiandae tempore. Qui voluptatibus consectetur alias?
            Iste, sapiente? Quam officia, eum impedit sapiente culpa earum
            consequuntur exercitationem, dolore unde ut reprehenderit!
          </p>
        </CardContent>
        <CardFooter>
          <p>Card Footer</p>
        </CardFooter>
      </Card>

      <Card className="w-full max-w-sm">
        <CardHeader>
          <CardTitle>Card Title</CardTitle>
          <CardDescription>Card Description</CardDescription>
          <CardAction>Card Action</CardAction>
        </CardHeader>
        <CardContent>
          <p>
            Test Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Quasi, repudiandae tempore. Qui voluptatibus consectetur alias?
            Iste, sapiente? Quam officia, eum impedit sapiente culpa earum
            consequuntur exercitationem, dolore unde ut reprehenderit!
          </p>
        </CardContent>
        <CardFooter>
          <p>Card Footer</p>
        </CardFooter>
      </Card>

      <Card className="w-full max-w-sm">
        <CardHeader>
          <CardTitle>Card Title</CardTitle>
          <CardDescription>Card Description</CardDescription>
          <CardAction>Card Action</CardAction>
        </CardHeader>
        <CardContent>
          <p>
            Test Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Quasi, repudiandae tempore. Qui voluptatibus consectetur alias?
            Iste, sapiente? Quam officia, eum impedit sapiente culpa earum
            consequuntur exercitationem, dolore unde ut reprehenderit!
          </p>
        </CardContent>
        <CardFooter>
          <p>Card Footer</p>
        </CardFooter>
      </Card>
    </main>
  </body>
</html>
