---
import { ButtonThemeToggle } from "@/components/button-theme-toogle";
import NavigationMenuWrapper from "@/components/navigation-menu-wrapper";
---

<header
  transition:persist
  class="border-border sticky top-0 z-50 mb-4 border-b bg-transparent backdrop-blur"
>
  <nav class="mx-auto flex h-14 max-w-4xl items-center justify-between px-4">
    <div class="text-lg font-semibold">DevCobos</div>
    <div class="flex items-center gap-2">
      <NavigationMenuWrapper client:load />
      <ButtonThemeToggle client:load />
    </div>
  </nav>
</header>
