---
import Header from "@/components/Header.astro";
import "/src/styles/global.css";
import Footer from "@/components/Footer.astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import Analytics from "@vercel/analytics/astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>DevCobos</title>

    <!-- Initialize theme -->
    <script is:inline>
      (function () {
        const stored = localStorage.getItem("selected_theme");
        const theme =
          stored ||
          (window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light");

        if (theme === "dark") {
          document.documentElement.classList.add("dark");
        }

        localStorage.setItem("selected_theme", theme);
      })();
    </script>
  </head>

  <body class="font-mono">
    <Header />
    <slot />
    <Footer />

    <!-- Vercel Analytics & Speed Insights -->
    <Analytics />
    <SpeedInsights />
  </body>
</html>
